@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full
}

body {
  overflow-x: hidden !important;
  @apply h-full bg-neutral-100
}

p, i, h1 {
  @apply text-zinc-900
}

.recharts-legend-item-text {
  font-size: 12px !important;
}

.recharts-text, .recharts-cartesian-axis-tick-value {
  font-size: 12px !important;
}
.color-primary {
  color: #CA965C;
}

.color-secondary {
  color: #876445;
}

.color-tertiary {
  color: #F4DFBA;
}

.bg-primary {
  background-color: #CA965C;
}

.bg-secondary {
  background-color: #876445;
}

.bg-tertiary {
  background-color: #F4DFBA;
}

.center-screen {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
